*{
    margin: 0;
    padding: 0;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
body{
    font-family: "Montserrat", sans-serif;
}
.header{
    height: 735px; 
    background-image: url(img/rectangle15.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__catalog{
        padding-bottom: 16px;
        height: 400px; 
        background-image: url(img/katalog.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__style{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 17px;
        border-bottom: solid 0.5px #FFFFFF;
    }
    &__style-nav{
        margin-top: 12px;
        margin-bottom: 11px;
        height: 20px;
        display: flex;
        gap: 32px;
    }
    &__heading1{
        color: rgb(255, 255, 255);
        max-width: 792px;
        min-height: 140px;
        margin-top: 64px;
        font-weight:600;
        font-size:64px;
        line-height:70px;
        margin-bottom: 16px;
    }
    &__furnitreflect{
        color: rgb(255, 255, 255);
        font-size:24px;
        line-height:32px;
        margin-bottom: 16px;
    }
    &__cataloghtml{
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-decoration-line: underline;
    }
    &__nav-mobile{
        display: none;
    }
}
.header__style-nav-href{
    font-size:16px;
    height:20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header__style-nav-href:hover{
    text-decoration: underline;
}
.header__style-input{
    font-family: "Montserrat", sans-serif;
    max-width: 288px;
    height: 41px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: rgb(255, 255, 255); 
    background-color: transparent;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}
.header__style-input::placeholder{
    color: white;
}
.conteiner{
    display: grid;
    flex-wrap: wrap;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    &__heading{
        margin-top: 64px;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: #000000;
    }
    &__item{
        display: flex;
        flex-wrap: wrap;
        font-weight: 600px;
        margin-top: 32px;
        grid-column: span 4;
        font-size: 34px;
        color: #FFFFFF;
        justify-content: center;
        align-items: center;
        max-width: 378px;
        height: 415px;
        &-big{
            max-width: 584px;
            grid-column: span 6;
        }
        &-1{
           background-image: url(./img/for-1.png);
        }
        &-2{
            
            background-image: url(./img/for-2.png);
         }
         &-3{ 
            background-image: url(./img/for-3.png);
         }
         &-4{
            background-image: url(./img/for-4.png);
         }
         &-5{
            background-image: url(./img/for-5.png);
         }
    }
}
.katalog-href{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 61px;
    margin-bottom: 36px;
    &-nav{
        height: 32px;
    } 
}
.katalog-href-style{ 
    text-decoration: none;
    color:#000000;
}
.katalog-href-style:hover{
      text-decoration: underline;
}
.select-buton{
    appearance: none;
    background: url(./img/arowselect.png) no-repeat;
    background-position: calc(100% - 22px) center;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 23px;
    padding-right: 54px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #000000;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px 20px 20px 20px;
}
.specialoffers{
    margin-top: 64px;
    padding-top: 8px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 13px;
}
.section__div-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
    row-gap: 48px;
}
.item{
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 8px;
    &__imgstyle{
        max-width: 378px;
        height: 250px;
    }   
    &__imgstyle-box{
        position: relative;
    }
    &__imgstyle-dopbox{
            position: absolute;
            display: flex;
            gap: 21px;
            flex-direction: row;
            top: 10px;
            right: 10px;
            opacity: 0;
        }
    &__imgstyle-dopbox:hover{
        opacity: 1;
        cursor: pointer;
    }
    &__imgstyle-dop{
            width: 24px;
            height: 24px;
        }
    &__description{  
        max-width: 378px;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        margin-top: 8px;
        margin-bottom: 12px;
    }
}
.newprise{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}
.oldprise{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}
.priseposition{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
}
.cataloghtml__footer{
    margin-top: 32px;
    margin-bottom: 64px;
    &-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;  
        color: black;
        text-align: left;
        text-decoration-line: underline;
    }
}
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 60px;
    background: rgb(247, 246, 246);
    &__style{
        display: flex;
        flex-wrap: wrap;
        &-div{
            padding-right: 129px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 12px;
            align-content: center;
        }
        &-href{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content:left;
        }
    }
    &__logo{
        padding-right: 212px;
        max-width: 198px;
        height: 44px;
    }
    &__menu{
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: left; 
        &-ournews{
            font-size: 12px;
            height: 15px;
            color: #000000;
        }
        &-email{
            font-family: "Montserrat", sans-serif;
            color: #C4C4C4;
            font-size: 12px;
            padding-left: 32px;
            padding-right: 32px;
            text-align: left;
            max-width: 260px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 16px;
            background: rgb(255, 255, 255)
        }
        &-subcribe{
            font-family: "Montserrat", sans-serif;
            background: rgba(222, 215, 215, 0.41);
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 16px;
            max-width: 260px;
            height: 40px;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
    &__form{
        padding-left: 63px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 8px;
    }
}
.footer__menu-list{
    font-size: 14px;
    color: grey;
    text-decoration: none;
    text-align: left; 
}
.footer__menu-list:hover{
    text-decoration: underline;
}
@import "cart";
@import "modalwind";
@import "tablet";
@import "phone"
